/* Background Video */
/* =======================
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
	margin-bottom: 30px;
}

video {
	position:absolute;
	z-index:0;
}

video.fillWidth {
	width: 100%;
}

======================= */

.brand {
	background: url(../img/cocurrilogo4.png) no-repeat;
	height: 50px;
	width: 300px;
	background-size: contain;
	position: absolute;
	margin-top: 14px;
}

.nav {
	position: fixed;
	width: 30px;
	height: 84px;
	z-index: 100;
	right: 0;
	top: 50%;
	margin-top: -42px; 
}
  
.nav a {
    text-indent: -9999px;
    display: block;
    width: 14px;
    height: 14px;
    background: rgba(245, 246, 247, 0.4);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 20px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s; 
}
.nav a:hover {
  background: #f5f6f7;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s; 
}

.intro-header {
	color: #FFFFFF;
	background:#1F78D2 url("../img/header_bg.jpg") no-repeat center center;
	background-size: cover;
}

.intro-message {
	padding-top: 10%;
}

.intro-message > h1 {
	font-size: 4em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.intro-divider {
	width: 50%;
}

.btn-default, .btn-primary {
	color: #fff;
	background-color: #1F78D2;
	border-color: #fff;
	border: solid 1px #1F78D2;
	border-radius: 0px;
}

.btn-default:hover, .btn-primary:hover {
	color: #1F78D2;
	background: #fff;
	border-color: #1F78D2;
}

label {
margin-top: 5px;
margin-bottom: 1px;
font-weight: inherit;
}

.form-control {
	border: none;
	border-radius: 0;
}

.modal-content {
	border: none;
	border-radius: 0;
}


@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-audience-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-audience-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.audience {
	font-size: 16px;
	font-weight: 500;
}

.section-heading-spacer {
	border-top: 3px solid rgba(231, 231, 231, 0.5);
}

p.copyright {
	text-align: center;
}

#admins {
	background: #CB0101;
	color: white;
}

#teachers {
	background: #669900;
	color: white;
}

#parents {
	background: #1F78D2;
	color: white;
}

#bottom-signup {
	background: #ffffff;
	color: #1F78D2;
	text-align: center;
}

#bottom-signup .intro-divider {
	border-top: 1px #1F78D2 solid;
	border-bottom: none;
}

#bottom-signup .form-control {
	background: #1F78D2;
	color: #FFFFFF;

}

#bottom-signup .form-control:-moz-placeholder {
  color: #DBDBDB;
}

#bottom-signup .form-control::-moz-placeholder {
  color: #DBDBDB;
  opacity: 1;
}

#bottom-signup .form-control:-ms-input-placeholder {
  color: #DBDBDB;
}

#bottom-signup .form-control::-webkit-input-placeholder {
  color: #DBDBDB;
}

#bottom-signup .btn-default, .btn-primary {
	margin-top: 10px;
}

#bottom-signup .btn-default:hover, .btn-primary:hover {
	color: #1F78D2;
	background: #fff;
	border: 1px #1F78D2 solid;
}